*{
    text-decoration:none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
    font-family: 'Mukta Vaani', sans-serif;
    text-transform: uppercase;
}

.footer-content{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: black;
    height: auto;
    width: 100%;
    color: var(--offwhite);
}

.footer-logo{
    position: relative;
    display: flex;
    font-size: 2vh;
    align-items: center;
    left: 10%;
}

.contact-us
{
    position: relative;
    text-align: center;
    left: 32%;
}


.socials {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 70%;
}

.socials li{
    margin: 0 10px;
}

.footer-bottom{
    position: relative;
    text-align: center;
    background-color: #353232;
    color: var(--offwhite);
}



:root{
    --mainBlue: #71CDF4;
    --orange: #F78F20;
    --darkBlue: #00457C;
    --offwhite: #FFF4F4;
}